In [ ]:
# Make sure you have the SparkSession described in the chapter README initialized

In [ ]:
df = spark.read.parquet('chapter7_parquet_files/')

In [ ]:
df.groupBy("vendorId").count().orderBy("vendorId").show()

In [ ]:
from pyspark.sql.functions import year, month, dayofmonth
df.groupBy(hour("tpep_pickup_datetime")).count().orderBy("count").show()

In [ ]:
# There is more
df.createOrReplaceTempView("ny_yellow_taxi_data")

vendor_groupby = spark.sql(
"""
SELECT vendorId, COUNT(*) FROM ny_yellow_taxi_data
GROUP BY vendorId
ORDER BY COUNT(*)
"""
)

In [ ]:
vendor_groupby.show()